# Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.
endpoint_add_tcp "0.0.0.0:31250"
endpoint_add_udp "0.0.0.0:31250"

# MySQL
set mysql_connection_string "server=127.0.0.1;uid=root;password=gghhtt;database=vision"

# These resources will start by default.
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode #Obligé sinon chargement infini
#ensure hardcap
#ensure rconlog

ensure oxmysql

#ensure [STREAM]

# Scripts
ensure vNotif
ensure ultra-keypackhack
ensure tuto-fa
ensure [activities]
ensure wk_wars2x
ensure emote
ensure chat
ensure screenshot-basic
ensure vVoice
ensure vNotif
ensure VisionHUD
#ensure VisionASSETS
ensure utils
ensure ticket
ensure SunWise
ensure speedometer
ensure sacatete
ensure rp-radio
ensure deco
ensure core
ensure lb-phone
ensure handling
stop rcore_tattoos

ensure mth-cutscenes

ensure speedometer
ensure utils
ensure pma-voice
stop monitor
stop webadmin
stop hardcap
stop rconlog

# Anti DDOS HTTP/S
set sv_requestParanoia 3
sv_endpointprivacy true
sv_forceIndirectListing true
sv_useDirectListing true
sv_authMinTrust 4

# This allows players to use scripthook-based plugins such as the legacy Lambda Menu.
# Set this to 1 to allow scripthook. Do note that this does _not_ guarantee players won't be able to use external plugins.
sv_scriptHookAllowed 0

# Uncomment this and set a password to enable RCON. Make sure to change the password - it should look like rcon_password "YOURPASSWORD"
#rcon_password ""

# A comma-separated list of tags for your server.
# For example:
# - sets tags "drifting, cars, racing"
# Or:
# - sets tags "roleplay, military, tanks"

# A valid locale identifier for your server's primary language.
# For example "en-US", "fr-CA", "nl-NL", "de-DE", "en-GB", "pt-BR"
sets locale "en-US"
# please DO replace root-AQ on the line ABOVE with a real language! :)

# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
#sets banner_detail "https://url.to/image.png"
#sets banner_connecting "https://url.to/image.png"

# Set your server's hostname. This is not usually shown anywhere in listings.
sv_hostname "fdqzdqzdqzdqzd"

# Set your server's Project Name

# Set your server's Project Description

# Nested configs!
#exec server_internal.cfg

# Loading a server icon (96x96 PNG file)
load_server_icon server_icon.png

# convars which can be used in scripts
set temp_convar "hey world!"

# Remove the `#` from the below line if you want your server to be listed as 'private' in the server browser.
# Do not edit it if you *do not* want your server listed as 'private'.
# Check the following url for more detailed information about this:
# https://docs.fivem.net/docs/server-manual/server-commands/#sv_master1-newvalue
#sv_master1 ""

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.license:e6abdf336a12329b958941572874289e898acee4 group.admin # add the admin to the group
add_ace identifier.license:e6abdf336a12329b958941572874289e898acee4 "command" allow

# enable OneSync (required for server-side state awareness)
set onesync on
set onesync_population true

# Server player slot limit (see https://fivem.net/server-hosting for limits)
sv_maxclients 4

# Steam Web API key, if you want to use Steam authentication (https://steamcommunity.com/dev/apikey)
# -> replace "" with the key
set steam_webApiKey 4B318C69E73A0DC8CB11BA9C95DCB87E
set sv_licenseKey cfxk_al7P80D2EgGQIzuOp6zj_4BtSRj